@{
    ViewData["Title"] = "Home";
}

<div class="all-products page visible">
    <div class="filters">
        <form>
            <div class="filter-criteria">
                <span>Manufacturer</span>
                <label><input type="checkbox" name="manufacturer" value="apple">Apple</label>
                <label><input type="checkbox" name="manufacturer" value="samsung">Samsung</label>
                <label><input type="checkbox" name="manufacturer" value="htc">HTC</label>
                <label><input type="checkbox" name="manufacturer" value="nokia">Nokia</label>
                <label><input type="checkbox" name="manufacturer" value="zte">ZTE</label>
                <label><input type="checkbox" name="manufacturer" value="sony">Sony</label>
            </div>

            <div class="filter-criteria">
                <span>Storage</span>
                <label><input type="checkbox" value="16" name="storage">16 GB</label>
                <label><input type="checkbox" value="32" name="storage">32 GB</label>
            </div>

            <div class="filter-criteria">
                <span>OS</span>
                <label><input type="checkbox" value="android" name="os">Android</label>
                <label><input type="checkbox" value="ios" name="os">iOS</label>
                <label><input type="checkbox" value="windows" name="os">Windows</label>
            </div>

            <button id="clear_filters" class="btn btn-primary">Clear filters</button>
        </form>
    </div>

    <!-- Product in catalog -->
    <ul class="products-list">
    @foreach (var product in Model)
    {
        <li id="products-template" data-index=@product.ProductId>
            <a href="#product/@(product.ProductId)">
                <div class="product-photo"><img src="~/@(product.Pictures.Small)" height="130" alt=@product.Name /></div>
                <h2>@product.Name</h2>
                <div class="product-description">
                    <button class="btn btn-primary">Buy</button>
                    <p class="product-price">@product.Price €</p>
                </div>
                <div class="highlight"></div>
            </a>
        </li>
    }
    </ul>
</div>

@foreach (var product in Model)
{
    <!-- Product view -->
    <div class="single-product page" id=@product.ProductId>
        <div class="overlay"></div>
        <div class="preview-large">
            <h3>@product.Name</h3>
            <img src="~/@(product.Pictures.Large)"/>
            <div class="outer-table">
                <table class="center">
                    @foreach (var spec in product.Specifications) 
                    {
                        <tr>
                            <th>@spec.Type</th>
                            <td>@spec.Value</td>
                        </tr>
                    }
                </table>
            </div>
            <span class="close">×</span>
        </div>
    </div>
}
